<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br">

<body>
	<th:block layout:fragment="conteudo">
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Campeonato</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a th:href="@{/campeonatos}">Campeonatos</a></li>
							<li class="breadcrumb-item" th:if="${campeonato.novo}"><a href="#!">Cadastro</a></li>
							<li class="breadcrumb-item" th:unless="${campeonato.novo}"><a href="#!">Edição</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-body">
			<div class="page-wrapper">
				<!-- [ Main Content ] start -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h5>Campeonato</h5>
							</div>
					        <div class="card-block">
					        	<form th:object="${campeonato}" th:action="${campeonato.novo} ? @{/campeonatos/cadastro} : @{/campeonatos/{id}(id=${campeonato.id})}" method="POST">
						        	<div class="row">
						        		<div class="col-md-6 col-xl-4">
						        			<div class="form-group">
												<label class="form-label">Nome</label>
												<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" an:classforerror="nome">
											</div>
						        		</div>
						        		<div class="col-md-3 col-xl-2">
						        			<div class="form-group">
												<label class="form-label">Ano de Início</label>
												<input type="text" class="form-control" placeholder="Ano" th:field="*{anoInicio}">
											</div>
						        		</div>
						        		<div class="col-md-3 col-xl-2">
						        			<div class="form-group">
												<label class="form-label">Ano de Término</label>
												<input type="text" class="form-control" placeholder="Ano" th:field="*{anoFim}">
											</div>
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="col-md-3 col-xl-2">
						        			<div class="form-group">
												<label class="form-label">Times</label>
												<select id="style" class="form-control">
													<option value="">Selecione o time</option>
													<option th:each="time : ${time}" th:value="${style.id}" th:text="${style.name}"></option>
												</select>
											</div>
						        		</div>
						        	</div>
									<input type="hidden" th:field="*{id}">
									<button class="btn btn-primary" type="submit">Salvar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- [ Main Content ] end -->
			</div>
		</div>
	</th:block>
</body>
</html>