<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment='acompanhamento'>
	<li class="nav-item pcoded-menu-caption">
	    <label>Acompanhamento</label>
	</li>
	<li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('/dashboard')} ? active">
	    <a th:href="@{/dashboard}" class="nav-link ">
	    	<span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span>
	    </a>
	</li>
</th:block>

</html>