<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment='professor' sec:authorize="hasRole('ROLE_PROFESSOR')">
	<li class="nav-item pcoded-menu-caption">
	    <label>Professor</label>
	</li>
	<li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('/professor')} ? active">
	    <a th:href="@{/professor/aluno-ciclo-estudos}" class="nav-link ">
	    	<span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Ciclo de Estudos</span>
	    </a>
	</li>
</th:block>

</html>