<script id="beer-autocomplete-template" type="text/x-handlebars-template">
	<div class="bw-item-table">
		<div class="bw-item-table__column  bw-item-table__column--photo">
			<img src="{{urlThumbnailPhoto}}" class="img-responsive" />
		</div>
		<div class="bw-item-table__column  bw-item-table__column--details">
			<span class="bw-beer-table-name">{{name}}</span>
			<span class="label  label-default">{{sku}}</span>
			<span class="bw-beer-table-origin">{{origin}}</span>
		</div>
		<div class="bw-item-table__column  bw-item-table__column--values">
			<div class="bw-beer-table-mid-value">R${{formattedValue}}</div>
		</div>
	</div>
</script>