<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-simples}"
	xmlns:an="http://www.anthonini.com.br">

<body>	
	<th:block layout:fragment="conteudo">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="text-center">
					<img src="/layout/images/404.png" alt="" class="img-fluid">
					<h2 class="text-muted my-4">Página não encontrada</h2>
					<h5 class="text-muted my-4">Desculpe, a página que você tentou acessar não foi encontrada ou não existe. 
						Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.</h5>
					
					<a th:href="@{/}" class="btn  btn-primary mb-4">
						<i class="feather icon-home me-2"></i>Página inicial
					</a>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>